{% extends "basic_app/basic_app_base.html" %}
{% block body_block%}
<div class="jumbortron">
<h1>Welcome t0 the detail of all Schools!</h1>
<h2>School details:</h2>
<p>Name: {{school.name}}</p>
<p>Principal: {{school.principal}}</p>
<p>Location: {{school.location}}</p>
<h3>Students:</h3>
{% for student in school.students.all %}
<p>{{student.name}} who is {{student.age}} years old.</p>
{%endfor%}
</div>
<div class="container">
    <p><a class="btn btn-warning" href="{% url 'basic_app:update'  pk=school.pk %}">Update</a></p>
</div>
 
{%  endblock %} 